// ------------------------------------------------------------------------
// Main layout styles
// Use only the tags you need, and remove the unused ones
// We are using http://susy.oddbird.net/ for responsive grid
// Susy settings can be found and/or edited in stylesheets/sass/_variables.scss
// ------------------------------------------------------------------------
// Note!!!
// For fixed width layouts we recomend using a container
// We use .inside, but you can set the class name to rainbow if you like :)
.inside {
  clear: none;
  float: none;
  @include container($mainSiteWidth); // establish a layout context
}

header {
  &[role="complementary"] {

  }
}

main {
  
}

article {
  header {  }
  section {  }
  footer {   }
}

section {  }

aside {  }

footer {  }


// ------------------------------------------------------------------------
// Sticky footer ----------------------------------------------------------
// Use the code below only if you need to ---------------------------------
// ------------------------------------------------------------------------
// HTML STRUCTURE ---------------------------------------------------------
// ------------------------------------------------------------------------
// <html>
//   <body>
//     <div class="page-warp">
//       <header>
//       <main>
//     <footer>
// ------------------------------------------------------------------------
/*
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  height: auto;
  margin-bottom: -100px; // the bottom margin and padding is the
  padding-bottom: 100px; // negative value of the footer's height
}

footer {
  height: 100px;
}
*/
