// ------------------------------------------------------------------------
// Main layout styles
// Use only the tags you need, and remove the unused ones
// We are using http://susy.oddbird.net/ for responsive grid
// Susy settings can be found and/or edited in stylesheets/sass/_variables.scss
// ------------------------------------------------------------------------
// Note!!!
// For fixed width layouts we recomend using a container
// We use .inside, but you can set the class name to rainbow if you like :)
.inside {

  @include breakpoint($bpLargeSmartphones) {
    clear: none;
    float: none;
    @include container($mainSiteWidth); // establish a layout context
  }

  &.secondary-size {
    @include breakpoint($bpLargeSmartphones) {
      clear: none;
      float: none;
      @include container($secondarySiteWidth); // establish a layout context
    }
  }
}

article {
  // ------------------------------------------------------------------------
  // Comparison page --------------------------------------------------------
  // ------------------------------------------------------------------------
  &.comparison {
    header {
      background: #f5f5f5;
      border-bottom: 1px solid #e5e3e3;
      @include rem(margin-bottom, 20px);

      .inside {
        position: relative;

        @include breakpoint($bpLargeSmartphones) {
          @include rem(min-heihgt, 160px);
          @include rem(padding, 20px 0);
        }

        @include breakpoint($bpTablets) {
          @include rem(min-heihgt, 250px);
          @include rem(padding, 50px 0 55px);
        }
      }
    }
  }
}

// ------------------------------------------------------------------------
// Experts block ----------------------------------------------------------
// ------------------------------------------------------------------------
.wide-section {
  background: #f5f5f5;
  border-bottom: 1px solid darken(#f5f5f5, 7%);
}

// ------------------------------------------------------------------------
// Carousel and Action Block ----------------------------------------------
// ------------------------------------------------------------------------
.carousel-action-block {
  background: #eee;
  @include rem(padding, 20px);
  @include rem(margin, 0 0 40px);

  @include breakpoint($bpTablets) {
    @include rem(padding, 20px 0);
  }

  .inside {
    background: $whiteColor;
    border: 1px solid #e5e3e3;
    display: block;
    position: relative;

    @include breakpoint($bpLargeSmartphones) {
      display: table;
    }

    .carousel-container {


      @include breakpoint($bpLargeSmartphones) {
        @include span(7.5);
        @include display-table-cell;
      }
    }

    .user-action-box {
      background: #f5f5f5;
      @include rem(padding, 20px);

      @include breakpoint($bpLargeSmartphones) {
        @include span(4.5);
        @include display-table-cell;
        @include rem(padding, 40px);
      }
    }
  }
}

// ------------------------------------------------------------------------
// Article content --------------------------------------------------------
// ------------------------------------------------------------------------
.article-content {
  .content {
    @include rem(padding, 0 20px);

    @include breakpoint($bpLargeSmartphones) {
      @include rem(padding, 0 35px 0 0);
      @include span(7.5);
    }
  }

  aside {
    @include rem(padding, 0 20px);

    @include breakpoint($bpLargeSmartphones) {
      clear: none;
      @include rem(padding, 40px);
      @include span(4.5);
    }
  }
}

footer {
  color: #303030;
  @include rem(font-size, 12px);
  @include em(padding, 12px, 20px 0);
  text-align: center;
}


// ------------------------------------------------------------------------
// Sticky footer ----------------------------------------------------------
// Use the code below only if you need to ---------------------------------
// ------------------------------------------------------------------------
// HTML STRUCTURE ---------------------------------------------------------
// ------------------------------------------------------------------------
// <html>
//   <body>
//     <div class="page-wrap">
//       <header>
//       <main>
//     <footer>
// ------------------------------------------------------------------------
/*
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  height: auto;
  margin-bottom: -100px; // the bottom margin and padding is the
  padding-bottom: 100px; // negative value of the footer's height
}

footer {
  height: 100px;
}
*/
