// Colors
$baseColor: #222; // Body font used for pharagraphs
$lightColor: #f9f9f9; // Light gray
$whiteColor: #fff;
$themeColor: #1b3147;
$actionColor: #55B5E8;

// Font Family
$fontFamily: "Roboto", Arial, Tahoma, sans-serif;

// Font Weight
$thin: 200;
$light: 300;
$regular: 400;
$medium: 600;
$bold: 700;
$extraBold: 900;


// ===================================================
// Main width, for fixed width application
$mainWidth: 1200px;
