// ------------------------------------------------------------------------
// Colors variables
// ------------------------------------------------------------------------
$baseColor: #222; // Body font used for pharagraphs
$lightColor: #f9f9f9; // Light gray
$whiteColor: #fff;
$themeColor: #1b3147;
$actionColor: #55B5E8;

// ------------------------------------------------------------------------
// Font family variables
// ------------------------------------------------------------------------
$primaryFontFamily: "Roboto", Arial, Tahoma, sans-serif;
$secondaryFontFamily: "Comic Sans";

// ------------------------------------------------------------------------
// Font weight notation convention fonteightFont
// ------------------------------------------------------------------------
$thinFont: 200;
$lightFont: 300;
$regularFont: 400;
$mediumFont: 600;
$boldFont: 700;
$extraBoldFont: 900;

// ------------------------------------------------------------------------
// Susy Settings
// ------------------------------------------------------------------------
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: 0,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);


// ------------------------------------------------------------------------
// Main width, for fixed width application
// ------------------------------------------------------------------------
$mainSiteWidth: 1200px;
