// Colors
$baseColor: #222; // Body font used for pharagraphs
$lightColor: #f9f9f9; // Light gray
$whiteColor: #fff;
$themeColor: #1b3147;
$actionColor: #55B5E8;

// Font family
$primaryFontFamily: "Roboto", Arial, Tahoma, sans-serif;
$secondaryFontFamily: "Comic Sans";

// Font weight notation convention
// Primary font weights
$thinFont: 200;
$lightFont: 300;
$regularFont: 400;
$mediumFont: 600;
$boldFont: 700;
$extraBoldFont: 900;

// Responsive breakpoints
$breakpoints: (
  smallPhone: 320px 480px,
  largePhone: 481px 640px,
  smallTablet: 641px 720px,
  largeTablet: 720px 1024px,
  smallDesktop: 1025px 1400px,
  largeDesktop: 1401px 1600px
);


// ===================================================
// Main width, for fixed width application
$mainWidth: 1200px;
