// ------------------------------------------------------------------------
// Welcome screen styles --------------------------------------------------
// ------------------------------------------------------------------------
.landing {
  background: darken(#0A5080, 20%);
}

.welcome-screen {
  height: auto;
  min-height: 100%;
  padding: 10%;
  position: relative;
  text-align: center;
  z-index: 2;

  h1 {
    color: $whiteColor;
    display: inline-block;
    @include rem(font-size, 56px);
    margin: 0 0 1em;
    font-weight: $extraBoldFont;
    text-shadow:  0 1px 0 $baseColor, 1px 0 0 $baseColor;
  }
}

.frames {

  li {
    display: inline-block;
    margin: 0 1% 2%;
    width: 20%;
  }

  a {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba($baseColor, .2), 0 0 0 7px rgba($whiteColor, .2);
    float: left;
    font-size: 0;
    height: 150px;
    line-height: 0;
    position: relative;
    text-indent: -9999px;
    width: 100%;
    @include transition();

    span {
      background: rgba($baseColor, .9);
      border-radius: 2px;
      color: $whiteColor;
      display: none;
      @include rem(font-size, 20px);
      font-weight: $boldFont;
      left: 0;
      line-height: 2em;
      position: absolute;
      text-align: center;
      text-indent: 0;
      text-transform: uppercase;
      top: -50px;
      width: 100%;

      &:before {
        border-color: rgba($baseColor, .9) transparent transparent transparent;
        border-style: solid;
        border-width: 8px;
        bottom: -16px;
        content: "";
        left: 50%;
        margin-left: -8px;
        position: absolute;
      }
    }

    &:hover {
      background-position: center -100px;
      box-shadow: 0 0 60px rgba(#60BFFF, .9);
      @include transform(scale(1.2));

      span {
        display: block;
      }
    }

    @each $pageType in (home, compare, product) {
      &.thumbnail-#{$pageType} {
        background-image: inline-image("page-thumbnails/#{$pageType}.jpg");
      }
    }
  }
}

.go-crazy-bro {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;

  svg {
    left: 0;
    position: absolute;
    opacity: .5;
  }
}
