// ------------------------------------------------------------------------
// Entity property styles -------------------------------------------------
// ------------------------------------------------------------------------
.entity-property {
  line-height: 1.25;
  font-family: $secondaryFontFamily;

  &.entity-property-overall-rating {
    border-bottom: 1px solid #e5e3e3;

    .entity-property-label {
      display: none;
    }

    .entity-property-numeric-score {
      color: #323232;
      float: left;
      font-weight: $regularFont;
      @include rem(font-size, 80px);
      @include rem(letter-spacing, -2px);
      line-height: 1em;
      padding: .1em 0 0 0;

      &:after {
        color: #666;
        content: "/10";
        display: inline;
        font-size: .5em;
        vertical-align: baseline;
      }
    }
  }
}
