// ------------------------------------------------------------------------
// Navigation main styles (top navigation) --------------------------------
// ------------------------------------------------------------------------
.section-navigation {
  background: $baseColor;
  color: $whiteColor;
  @include rem(font-size, 12px);

  li {
    float: left;
  }

  a {
    color: $whiteColor;
    float: left;
    font-weight: $extraBoldFont;
    line-height: 2.5em; // based on the font-size
    padding: 0 1em;
    text-transform: uppercase;

    &:hover {
      background-color: $actionColor;
      text-decoration: none;
    }
  }

  // ------------------------------------------------------------------------
  // Navigation top ---------------------------------------------------------
  // ------------------------------------------------------------------------
  &.section-navigation-site {
    display: none;

    li {

      // TGM logo for the first navigation item
      &:first-child {
        a {
          background-image: inline-image("small_logo.png");
          background-position: center;
          background-repeat: no-repeat;
          color: transparent;
          height: 2.5em;
          overflow: hidden;
          width: 2.5em;
        }
      }
    }

    // Responsive styles
    // ----------------------------------------------------------------------
    @include breakpoint($bpLargeSmartphones) {
      display: block;
    }
  }

  // ------------------------------------------------------------------------
  // Navigation main menu ---------------------------------------------------
  // ------------------------------------------------------------------------
  &.section-navigation-section {
    background: #ebf0c8;
    border-bottom: 1px solid #e4e9c1;
    border-top: 2px solid #d1dd80;
    @include rem(font-size, 14px);

    nav {
      position: relative;

      &:before {
        background: transparent inline-image("svg/menu-icon.svg") no-repeat 10px center;
        background-size: auto 30%;
        content: "Show Menu";
        float: right;
        @include rem(padding, 0 10px 0 33px);
        text-transform: uppercase;
        @extend a;
        width: auto !important;
      }

      &:hover {
        ul {
          border-top: 1px solid #d1dd80;
          display: block;
        }
      }
    }

    ul { display: none; } // Hide navigation on mobile devices

    li {
      width: 100%;
    }

    a {
      color: $baseColor;
      font-weight: $regularFont;
      width: 100%;

      &:hover {
        background-color: #d1dd80;
        border-color: #d1dd80;
      }
    }

    // Responsive styles
    // ----------------------------------------------------------------------
    @include breakpoint($bpLargeSmartphones) {
      nav {
        &:before {
          display: none;
        }

        &:hover {
          ul { border: 0 none; }
        }
      }

      ul {
        display: block;
      }

      li {
        width: auto;
      }
    }
  }
}
