// ------------------------------------------------------------------------
// Headline styles --------------------------------------------------------
// ------------------------------------------------------------------------
.headline {
  @include rem(font-size, 36px);
  @include em(margin, 36px, 18px 0);
  @include rem(padding, 0 20px);

  @include breakpoint($bpLargeSmartphones) {
    padding: 0;
  }

  h1 {
    font-size: 1em;
    font-weight: $lightFont;
  }

  // ----------------------------------------------------------------------
  // Headline large (Meet our experst) ------------------------------------
  // ----------------------------------------------------------------------
  &.headline-experts {
    color: #1f1f1f;
    @include rem(font-size, 36px);
    @include em(margin, 76px, 30px 0);
    text-align: center;

    h1 {
      line-height: .8em;
    }

    // Responsive styles
    @include breakpoint($bpLargeSmartphones) {
      @include rem(font-size, 76px);
      @include em(margin, 76px, 36px 0 20px);
      text-align: left;
    }
  }

  // ------------------------------------------------------------------------
  // Comparison page headline -----------------------------------------------
  // ------------------------------------------------------------------------
  &.headline_version-4 {
    color: #323232;
    @include rem(font-size, 36px);
    line-height: 1em;
    @include rem(margin, 20px 0 10px);
    @include rem(padding, 0 20px);

    // Responsive styles
    @include breakpoint($bpLargeSmartphones) {
      @include rem(font-size, 52px);
      @include rem(margin, 20px 0 10px);
      padding: 0;
      text-align: left;
      @include span(10);
      float: right;
    }

    @include breakpoint($bpTablets) {
      @include span(8.5);
      @include rem(margin, 0 0 20px);
      float: right;
    }

    h1 {
      font-weight: $lightFont;
    }
  }
}
