// ------------------------------------------------------------------------
// Author component (product page default) --------------------------------
// ------------------------------------------------------------------------
.author {
  border-bottom: 1px solid #e5e3e3;
  @include rem(margin, 0 0 20px);
  position: relative;
  @include rem(padding, 0 0 20px);

  .author-byline {
    @include rem(font-size, 12px);
    @include em(line-height, 12px, 21px);
    @include rem(padding, 0 138px 0 0);

    a {
      color: #323232;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    span {
      color: #666;
      float: left;
      width: 100%;
    }
  }

  .author-image-container {
    bottom: 0;
    position: absolute;
    right: 0;
    @include rem(width, 148px);

    img {
      float: left;
      height: auto;
      width: 100%;
    }
  }

  // Hidden elements
  .author-social-container {
    display: none;
  }

  // ------------------------------------------------------------------------
  // Comparison page author -------------------------------------------------
  // ------------------------------------------------------------------------
  &.author-compare-ver-4 {
    border: 0 none;
    @include rem(margin, 20px 0 0);
    @include rem(padding, 0 20px);

    @include breakpoint($bpLargeSmartphones) {
      border-right: 1px solid #e5e3e3;
      bottom: 0;
      left: 0;
      margin: 0;
      @include rem(padding, 0 20px);
      position: absolute;
      @include span(2);
    }

    @include breakpoint($bpTablets) {
      border: 0 none;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 0 0 0 10%;
      position: absolute;
      @include span(3.5);
    }

    .author-image-container {
      float: left;
      position: static;
      @include rem(width, 100px);

      @include breakpoint($bpLargeSmartphones) {
        width: 100%;
      }

      @include breakpoint($bpTablets) {
        width: 100%;
      }
    }

    .author-body {
      border: 0 none;
      clear: none;
      width: auto;

      @include breakpoint($bpLargeSmartphones) {
        position: static;
        width: 100%;

        .author-byline {
          @include rem(margin, 10px 0 0);
          padding: 0;
        }
      }

      @include breakpoint($bpTablets) {
        @include rem(bottom, 30px);
        position: absolute;
        @include rem(right, -110px);
        width: auto;
      }
    }

    .author-name {
      font-weight: $boldFont;

      &:before {
        content: "By";
        font-weight: $regularFont;
        margin: 0 .3em 0 0;
      }

      &:after {
        @extend :before;
        content: ",";
      }
    }

    .author-role {
      color: #666;
      float: none;
      width: auto;
      font-weight: $regularFont;
    }
  }
}
