// ------------------------------------------------------------------------
// Carousel ---------------------------------------------------------------
// ------------------------------------------------------------------------
.image-group {

  // ----------------------------------------------------------------------
  // Style for carousel ---------------------------------------------------
  // ----------------------------------------------------------------------
  &.carousel_v1 {
    .image-group-image-wrapper {
      text-align: center;
    }

    .rsInfoSection {
      @include rem(padding, 10px);
    }

    .rsNavItem {
      clear: none;
      @include rem(margin, 0 5px 0 0);
      width: auto;

      .thumbIco {
        background: #d9d8d8 inline-image("carousel/slide1.jpeg") no-repeat center center;
        background-size: auto 75%;
        cursor: pointer;
        border: 1px solid #b2b2b2;
        float: left;
        @include rem(height, 41px);
        @include rem(width, 60px);

        &:hover {
          background-color: #f2f1f1;
        }
      }
    }

    // Hiden elements
    .image-group-captions,
    .rsSlideCount,
    .js-image-group-caption-toggle,
    .rsGCaption {
      display: none;
    }
  }
}
