// ------------------------------------------------------------------------
// Headline styles --------------------------------------------------------
// ------------------------------------------------------------------------
.headline {
  @include rem(font-size, 36px);
  margin: .5em 0;

  h1 {
    font-size: 1em;
    font-weight: $lightFont;
  }
}
