// ------------------------------------------------------------------------
// Standfirst component ---------------------------------------------------
// ------------------------------------------------------------------------
.standfirst {
  @include rem(font-size, 14px);

  h2 {
    font-size: 1em;
    font-weight: $regularFont;
    text-transform: none;
  }

  @include breakpoint($bpTablets) {
    clear: none;
    @include span(4.5);
    float: left;
  }

  // ------------------------------------------------------------------------
  // Home page standfirst ---------------------------------------------------
  // ------------------------------------------------------------------------
  &.standfirst-experts {
    @include rem(margin, 0 0 20px);
    @include rem(padding, 0 20px);
    text-align: center;

    @include breakpoint($bpLargeSmartphones) {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }

  // ------------------------------------------------------------------------
  // Comparison page standfirst ---------------------------------------------
  // ------------------------------------------------------------------------
  @at-root .comparison .standfirst {
    color: #323232;
    float: none;
    @include rem(padding, 0 20px);
    width: 100%;

    @include breakpoint($bpLargeSmartphones) {
      @include span(10);
      float: right;
    }

    @include breakpoint($bpTablets) {
      @include span(8.5);
      float: right;
      padding: 0;
    }
  }
}
