// ------------------------------------------------------------------------
// Article body image -----------------------------------------------------
// ------------------------------------------------------------------------
.article-body-image {

  img {
    float: left;
    height: auto;
    max-width: 100%;
    width: auto;
  }

  // ------------------------------------------------------------------------
  // Article body image homepage --------------------------------------------
  // ------------------------------------------------------------------------
  &.article-body-image-homepage {
    @include breakpoint($bpTablets) {
      clear: none;
      @include span(7.5);
      float: right;
    }
  }
}
