// ------------------------------------------------------------------------
// Article body headline (h2) ---------------------------------------------
// ------------------------------------------------------------------------
.article-body-headline {
  @include rem(font-size, 32px);
  @include em(margin, 32, 5px 0);

  h2 {
    color: #303030;
    font-size: 1em;
    font-family: $primaryFontFamily;
    font-weight: $regularFont;
    @include rem(letter-spacing, -1px);
    line-height: 1em;
    text-transform: none;
  }

  // ----------------------------------------------------------------------
  // Overall rating styles ------------------------------------------------
  // ----------------------------------------------------------------------
  &.overall-rating {
    @include rem(font-size, 12px);
    @include em(margin, 12, 0 0 14px);

    h2 {
      color: #666;
      font-weight: $extraBoldFont;
      letter-spacing: 0;
      text-transform: uppercase;
    }
  }

  // ------------------------------------------------------------------------
  // Secondary headline -----------------------------------------------------
  // ------------------------------------------------------------------------
  &.secondary-headline {
    @include rem(font-size, 24px);
    @include em(margin, 24px, 0 0 25px);

    h2 {
      font-weight: $lightFont;
      letter-spacing: 0;
    }
  }
}
