// ------------------------------------------------------------------------
// Entity descriptions ----------------------------------------------------
// ------------------------------------------------------------------------
.entity-description {
  h2 {
    @include rem(font-size, 20px);
    @include em(line-height, 20px, 31px);
  }

  .article-body-text {
    font-family: $secondaryFontFamily;
    @include rem(font-size, 14px);
    font-weight: 200;
    @include em(line-height, 14px, 22px);
    text-align: justify;
  }

  // ------------------------------------------------------------------------
  // Comparison page entity descriptions ------------------------------------
  // ------------------------------------------------------------------------
  &.compare-entity-description {
    margin: 0;

    @include breakpoint($bpTablets) {
      @include rem(margin, 45px 0 0);
    }

    .component-content {
      margin: 0;
    }

    .compare-entity-description-wrapper {
      @include rem(padding, 0 20px 45px);

      @include breakpoint($bpLargeSmartphones) {
        clear: none;
        @include span(6);

        &:nth-child(2n+1) {
          clear: left;
        }
      }

      @include breakpoint($bpTablets) {
        clear: none;
        @include rem(padding, 0 120px 45px 0);
        @include span(4);

        &:nth-child(2n+1) {
          clear: none;
        }

        &:nth-child(3n+1) {
          clear: left;
        }
      }
    }
  }
}
