// ------------------------------------------------------------------------
// Article body text ------------------------------------------------------
// ------------------------------------------------------------------------
.article-body-text {
  .component-content {
    @include rem(font-size, 14px);
    @include em(margin, 14, 0 0 20px 0);

    p {
      color: #303030;
      font-weight: $regularFont;
      @include rem(font-size, 14px);
      line-height: 1.4em;
    }
  }

  // ------------------------------------------------------------------------
  // Article quote text -----------------------------------------------------
  // ------------------------------------------------------------------------
  &.article-quote {
    @include rem(margin, 20px 0 0);
    @include rem(padding, 0 110px 0 0);

    .component-content {
      p {
        @include rem(font-size, 14px);
        margin: 0;

        &:before {
          color: #666;
          content: "\201C";
          font-family: Georgia;
          @include em(font-size, 14px, 70px);
          @include em(margin, 70px, 0 5px 0 0);
          position: relative;
          top: .2em;
          vertical-align: bottom;
        }
      }
    }
  }

  // ------------------------------------------------------------------------
  // Article verdict --------------------------------------------------------
  // ------------------------------------------------------------------------
  &.article-body-text-verdict {
    .component-content {
      @include rem(margin, 0 0 55px);
    }

    p {
      @include rem(font-size, 20px);
      font-weight: $lightFont;
      @include rem(line-height, 30px);
      padding: 0;
      margin: 0;
    }
  }

  // ------------------------------------------------------------------------
  // Article key factors ----------------------------------------------------
  // ------------------------------------------------------------------------
  &.article-body-key-factors {
    h4 {
      @include rem(font-size, 20px);
      font-weight: $lightFont;
      @include rem(line-height, 32px);
      @include em(margin, 24px, 20px 0 0);
      @include rem(padding, 0 0 0 30px);
    }

    p {
      @include rem(font-size, 14px);
      font-weight: $lightFont;
      line-height: 1.6em;
      margin: 0;
      @include rem(padding, 0 0 0 30px);
    }
  }
}