// ------------------------------------------------------------------------
// Standfirst component ---------------------------------------------------
// ------------------------------------------------------------------------
.standfirst {
  @include rem(font-size, 14px);

  h2 {
    font-size: 1em;
    font-weight: $regularFont;
    text-transform: none;
  }

  @include breakpoint($bpTablets) {
    clear: none;
    @include span(4.5);
    float: left;
  }
}

// ------------------------------------------------------------------------
// Comparison page standfirst ---------------------------------------------
// ------------------------------------------------------------------------
.comparison .standfirst {
  color: #323232;
  float: none;
  @include rem(padding, 20px 40px 0 416px);
  width: 100%;
}