// ------------------------------------------------------------------------
// Article body headline (h2) ---------------------------------------------
// ------------------------------------------------------------------------
.article-body-headline {
  @include rem(font-size, 24px);
  @include em(margin, 24, 20px 0);


  h2 {
    font-size: 1em;
    font-weight: $regularFont;
    text-transform: none;
  }

  // ----------------------------------------------------------------------
  // Overall rating styles ------------------------------------------------
  // ----------------------------------------------------------------------
  &.overall-rating {
    @include rem(font-size, 12px);
    @include em(margin, 12, 0 0 14px);

    h2 {
      color: #666;
      font-weight: $extraBoldFont;
      text-transform: uppercase;
    }
  }
}
