// ------------------------------------------------------------------------
// Colors variables
// ------------------------------------------------------------------------
$black: #000;
$blue: #00f;
$green: #0f0;
$red: #ff0;

// ------------------------------------------------------------------------
// Font family variables
// ------------------------------------------------------------------------
$font: Helvetica, Arial, sans-serif;

// ------------------------------------------------------------------------
// Font weight notation convention fonteightFont
// ------------------------------------------------------------------------
$thinFont: 100;
$lightFont: 300;
$regularFont: 400;
$boldFont: 700;
$extraBoldFont: 900;

// ------------------------------------------------------------------------
// Main width, for fixed width application
// ------------------------------------------------------------------------
$mainSiteWidth: 1200px;

// ------------------------------------------------------------------------
// Responsive variables ---------------------------------------------------
// ------------------------------------------------------------------------

$bpSmartphones: 469px; // Smartphone breaking points
$bpLargeSmartphones: 699px; // Large smartphones
$bpTablets: 1024px; // Tablets and landscape large smartphones
$bpTabletsLarge: 1279px; // Large tablets and old PC's
$bpDesktopSmall: 1499px; // Small desktops screens & notebooks
$bpLargeScreen: 1500px; // Large screen
